
* {
  /* border: 1px solid green; */
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* ~~~~~ RULES FOR MAIN BODY OF PAGE ~~~~~~~ */

body {
  display: flex;
  font-family: 'Quicksand';
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  background-color: #723D46;
}

.main-header {
  color: #FFE1A8;
  font-size: 50px;
  font-weight: bold;
}

.main-player-turn-header {
  color: #FFE1A8;
  font-weight: bold;
}

/* ~~~~~ RULES FOR LEFT AND RIGHT NAVS ~~~~~~~ */

.left-player-nav,
.right-player-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  background: linear-gradient(#C9CBA3, #94af89)
}

.left-player-token-container,
.right-player-token-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-bottom: 150px;
  background-color: #472D30;
  border: 2px solid #723D46;
  border-radius: 15px;
}

.fa-tree,
.fa-campground {
  font-size: 100px;
  color: #C9CBA3;
}

.player-header,
.left-player-wins,
.right-player-wins {
  color: #472D30;
  font-size: 30px;
  font-weight: bold;
}

/* ~~~~~ RULES FOR GAME BOARD ~~~~~~~ */

.game-board-container {
  display: flex;
  flex-wrap: wrap;
  width: 454px;
  height: 454px;
  background-color: #723D46;
  border-radius: 15px;
}

.game-board-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 149px;
  width: 149px;
  background-color: #E26D5C;
  border: 1px solid #FFE1A8;
  border-radius: 15px;
}

/* #game-board-0,
#game-board-3A,
#game-board-6A {
  border-right: 2px solid #FFE1A8;
}

#game-board-0A,
#game-board-3A,
#game-board-1B,
#game-board-4B,
#game-board-2C,
#game-board-5C {
  border-bottom: 2px solid #FFE1A8;
}

#game-board-2C,
#game-board-5C,
#game-board-8C {
  border-left: 2px solid #FFE1A8;
} */





